.footer {
  background: var(--Nutral-Black, #000);

}

.footer .page-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 0;
}

.footer p {
  color: var(--Nutral-White, #fff);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  opacity: 0.7;
}

.footer ul {
  display: flex;
  align-items: center;
  gap: 32px;
}

.footer ul li a {
  color: var(--Nutral-White, #fff);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .footer ul li a {
    font-size: 10px;
  }

  .footer p {
    font-size: 10px;
  }
}